<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZYAutoResizeLabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF5C7AE31E9F4BF0004A1EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF5C7AFC1E9F4BF0004A1EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF5C7B071E9F4BF0004A1EC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
